@mixin title-font {
    font-family: 'Shrikhand', cursive;
}
@mixin btn {
    border-radius: 50px;
    font-size: 15px;
    color: white;
    border: 1px solid transparent;
    font-weight: 500;
    background: linear-gradient(to top left, $color-primary, $color-secondary);
    box-shadow: 5px 5px 5px #bfbfbf;
    cursor: pointer;
}
@mixin link {
    color: black;
    text-decoration: none;
}
@mixin overflow {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
@mixin mobile-only {
    @media screen and (min-width: map-get($breakpoints, mobile)){
    @content;
    }
}
@mixin mobile-int {
    @media screen and (min-width: map-get($breakpoints, mobile-int)){
    @content;
    }
}
@mixin tablet {
    @media screen and (min-width: map-get($breakpoints, tablet)){
     @content;
     }
} 
@mixin laptop {
    @media screen and (min-width: map-get($breakpoints, laptop)){
     @content;
     }
}
@mixin desktop {
    @media screen and (min-width: map-get($breakpoints, desktop)){
     @content;
     }
}
@mixin margin-hcenter {
    margin-right: auto;
    margin-left: auto;
}
@mixin linear-gradient {
    background: linear-gradient(to top left, $color-primary, $color-secondary);
}
@mixin my-gradient-lighten {
    background: linear-gradient(to top left, lighten($color-primary, 6%), lighten($color-secondary, 6%));
    box-shadow: 5px 7px 7px #b3b2b2;
} 
 @mixin bradius20 {
    border-radius: 20px;
 } 
@mixin flex-column {
    display: flex;
    flex-direction: column;
}
@mixin heart-anim {
    background: linear-gradient(to top left, $color-primary, $color-secondary);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    font-weight: 900;
}
@mixin menu-part-style-L {
    margin: 20px;
    width: 50%;
}
@mixin menu-part-style-D {
    margin: 30px;
    width: 50%;
}
@mixin border-bottom-title {
    border-bottom: 3px solid $color-primary;
    padding-bottom: 20px;
}
@mixin box-shadow {
    box-shadow: 5px 5px 5px #eee3e3;
}
@mixin img {
    object-fit: cover;
    width: 100%;
}
@mixin location__search-box-shadow {
    box-shadow: 0px -3px 2px #cfcfcf;
} 
@mixin location--search-colors {
    box-shadow: 0px -3px 2px #cfcfcf;
    background: $location__search-background;
    border: 1px solid #ebebeb;
}
@mixin border-bottom-menu-part {
    border-bottom: 3px solid $color-tertiary;
        width: 2.5em;
        position: absolute;
        bottom: -8px;
}
@mixin border-BG-menu-article {
    border: 1px solid white;
    background-color: white;
}
@mixin border-BG-WorklistEl {
    border: 1px solid $background-section;
    background-color: $background-section;
}
    
