@mixin title-font {
    font-family: 'Shrikhand', cursive;
}
@mixin btn {
    width: 65%;
    border-radius: 50px;
    font-size: 15px;
    color: white;
    border: 1px solid $color-primary;
    font-weight: 500;
    background: linear-gradient(to top left, $color-primary, $color-secondary);
    cursor: pointer;
}
@mixin link {
    color: black;
    text-decoration: none;
}
@mixin overflow {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
@mixin mobile-only {
    @media screen and (min-width: map-get($breakpoints, mobile)){
    @content;
    }
}
@mixin mobile-int {
    @media screen and (min-width: map-get($breakpoints, mobile-int)){
    @content;
    }
}
@mixin tablet {
    @media screen and (min-width: map-get($breakpoints, tablet)){
     @content;
     }
} 
@mixin laptop {
    @media screen and (min-width: map-get($breakpoints, laptop)){
     @content;
     }
}
@mixin desktop {
    @media screen and (min-width: map-get($breakpoints, desktop)){
     @content;
     }
}
@mixin my-gradient-lighten {
    background: linear-gradient(to top left, lighten($color-primary, 6%), lighten($color-secondary, 6%));
} 
    
