$color-primary :#9356DC;
$color-secondary :#FF79DA;
$color-tertiary :#99E2D0;
$background-section :#f6f6f6;
$footer-background: #353535;
$sticker-text-color: #30a387;
$location__search-background: #eaeaea;
$icon-grey: #7e7e7e;
$worlistEl-BG: #f3e7fb;
$worlistEl-BG-hover:#f5edff;