.restaurants {
    @include flex-column;
    @include margin-hcenter;
    align-items: center;
    width: 100%;
    margin-top: 30px;
    background: $background-section;
    position: relative;
    padding-top: 90px;
    padding-bottom: 30px;
    @include mobile-int {
      padding-top: 30px;
    }
    @include tablet {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
    &__title {
      position: absolute;
      top: 30px;
      left: 25px;
      font-size: 18px;
      @include mobile-int {
        position: inherit;
        width: 70%;
        left: 0;
        top: 0;
        text-align: center;
        padding-bottom: 30px;
      }
      @include tablet {
        @include border-bottom-title;
        font-size: 22px;
      }
      @include desktop {
        font-size: 26px;
      }
    }
  }
  
.home-card {
    @include bradius20;
    @include box-shadow;
    width: 85%;
    background: white;
    margin-bottom: 30px;
    position: relative;
    @include tablet {
      width: 40%;
      margin: 30px;
    }
    @include laptop {
      width: 42%;
    }
    @include desktop {
      width: 45%;
    }
    &__sticker {
      border: 1px solid $color-tertiary;
      border-radius: 2px;
      background-color: $color-tertiary;
      color: $sticker-text-color;
      padding: 5px 12px;
      font-size: 10px;
      font-weight: 700;
      position: absolute;
      right: 15px;
      top: 15px;
      @include tablet {
        font-size: 14px;
      }
      @include desktop {
        font-size: 18px;
      }
    }
    &__pic {
      @include img;
      height: 150px;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      @include laptop {
        height: 220px
      }
      @include desktop {
        height: 280px;
      }
    }
    &__link {
      @include link;
    }
    &__icon {
      position: absolute;
      right: 25px;
      bottom: 30px;
      cursor: pointer;
      &:hover {
        @include heart-anim;
        animation: heart 600ms;
      }
      @include tablet {
        font-size: 20px;
      }
      @include desktop {
        font-size: 24px;
      }
    }
    &__content {
      display: flex;
      padding-left: 15px;
      &--text {
        font-size: 14px;
        @include tablet {
          font-size: 18px;
        }
        @include desktop {
          font-size: 22px;
        }
      }
      & h3 {
        margin-top: 12px;
        margin-bottom: 5px;
      }
      & h4 {
        margin-top: 0;
        margin-bottom: 12px;
        font-weight: 400;
      }
    }
  }