.loader {
    display: flex;
    justify-content: center;
    position:fixed;
    width:100%;
    height: 100%;
    inset: 0;
    background: rgba(255, 255, 255, .8);  
    z-index: 3;
    animation: loader-hidden 2.5s ease;
    &--hidden {
        opacity: 0;
        visibility: hidden;
    }
    &::after {
        content: "";
        width: 200px;
        height: 200px;
        background-color: white;
        border-radius: 50%;
        border: 20px solid #ede5e5;
        border-top-color: $color-primary;
        position: absolute;
        top: 80px;
        animation: loader-rotate 1s ease-in 4;
    }
    &__text {
        position: absolute;
        top: 185px;
        font-family: 'Shrikhand', cursive;
        z-index: 4;
    }
}