.location {
    display: flex;
    align-items: center;
    margin-top: 15px;
    &__icon {
      font-size: 14px;
      padding-right: 25px;
      @include mobile-only {
        padding-right: 20px;
      }
      @include tablet {
        font-size: 18px;
        padding-right: 35px;
      }
      @include desktop {
        font-size: 22px;
        padding-right: 45px;
      }
    }
    &__search {
      @include location__search-colors;
      width: 100%;
      font-size: 12px;
      font-weight: bold;
      font-style: normal;
      padding: 11px 0;
      text-align: center;
      border-left: none;
      border-right: none;
      @include tablet {
        font-size: 20px;
        padding: 20px 0;
      }
      @include desktop {
        font-size: 24px;
      }
    }
  }