.menu-section {
    &__pic {
      @include img;
      height: 250px;
      position: relative;
      z-index: 1;
      @include mobile-int {
        height: 300px;
      }
      @include tablet {
        height: 350px;
      }
      @include laptop {
        height: 400px;
      }
      @include desktop {
        height: 550px;
      }
     }
  }

  .menu-heading {
    display: flex;
    align-items: center;
    position: relative;
    &__title {
      font-family: 'Shrikhand', cursive;
      font-size: 24px;
      font-weight: 400;
      @include tablet {
        font-size: 28px;
        padding-left: 10px;
      }
      @include laptop {
        font-size: 32px;
        padding-left: 20px;
      }
    }
    &__icon {
      font-size: 20px;
      position: absolute;
      right: 0;
      cursor: pointer;
      &:hover {
        @include heart-anim;
        animation: heart 600ms;
      }
      @include tablet {
        font-size: 24px;
        padding-right: 10px;
      }
      @include laptop {
        font-size: 28px;
        padding-right: 20px;
      }
    }
  }
  .menu-part {
    &__start {
      animation: article-slide 400ms ease-out;
      margin-bottom: 30px;
      @include tablet {
        margin-bottom: 40px;
      }
    }
    &__main {
      animation: article-slide 1000ms ease-out;
      margin-bottom: 30px;
      @include tablet {
        margin-bottom: 40px;
      }
    }
    &__dessert {
      animation: article-slide 1600ms ease-out;
      margin-bottom: 30px;
      @include tablet {
        margin-bottom: 40px;
      }
    }
    @include laptop {
      display: flex;
      margin: 10px 0;
      justify-content: space-between;
      align-items: baseline;
      &__start {
        @include menu-part-style-L;
      }
      &__main {
        @include menu-part-style-L;
      }
      &__dessert {
        @include menu-part-style-L;
      }
    }
    @include desktop {
      &__start {
       @include menu-part-style-D;
      }
      &__main {
        @include menu-part-style-D;
      }
      &__dessert {
        @include menu-part-style-D;
      }
    }
  }
  .menu {
    background: $background-section;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    padding: 0 15px;
    padding-bottom: 60px;
    width: 100%;
    position: relative;
    z-index: 2;
    margin-top: -40px;
    &__title {
      font-size: 16px;
      font-weight: 400;
      text-transform: uppercase;
      margin-bottom: 20px;
      padding-left: 10px;
      position: relative;
      &::before {
        content: "";
        @include border-bottom-menu-part;
      }
      @include tablet {
        font-size: 20px;
      }
      @include laptop {
        font-size: 16px;
      }
      @include desktop {
        font-size: 20px;
      }
    }
    &__article {
      @include BG-menu-article;
      @include bradius20;
      @include overflow;
      @include box-shadow;
      display: flex;
      align-items: center;
      width: 100%;
      margin-bottom: 10px;
      text-align: start;
      cursor: pointer;
      animation: article-slide 1400ms ease-out;
      @include tablet {
        font-size: 20px;
      }
      @include laptop {
        font-size: 16px;
      }
      &:hover {
        .menu__article--check{
          margin-right: 0;
        }
        i {
          animation: check-rotate 500ms ease-in-out;
        }
      }
      &--content {
        @include overflow;
        width: 100%;
        padding-left: 15px;
      }
      & h3 {
        @include overflow;
        margin-bottom: 5px;
        margin-top: 0;
        font-size: 14px;
        width: 80%;
        @include tablet {
          font-size: 18px;
        }
        @include laptop {
          font-size: 14px;
        }
        @include desktop {
          font-size: 18px;
        }
      }
      & h4 {
        @include overflow;
        width: 80%;
        font-size: 11px;
        font-weight: 400;
        margin: 0;
        @include tablet {
          font-size: 16px;
        }
        @include laptop {
          font-size: 12px;
        }
        @include desktop {
          font-size: 16px;
        }
      }
      & strong {
        display: flex;
        align-items: flex-end;
        padding-right: 25px;
        padding-top: 22px;
        font-size: 14px;
        @include tablet {
          font-size: 18px;
          padding-top: 25px;
        }
        @include laptop {
          font-size: 14px;
          padding-top: 22px;
        }
        @include desktop {
          font-size: 18px;
          padding-top: 25px;
        }
      }
      &--check {
        background-color: $color-tertiary;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: -75px;
        transition: 400ms;
        & i {
          color: white;
          font-size: 20px;
          padding: 22px;
          @include tablet {
            font-size: 24px;
            padding: 25px;
          }
          @include laptop {
            font-size: 20px;
            padding: 22px;
          }
          @include desktop {
            font-size: 24px;
            padding: 25px;
          }
        }
      }
    }
    &__order-btn {
      @include btn;
      @include margin-hcenter;
      display: block;
      margin-top: 30px;
      padding: 15px;
      &:hover {
        @include my-gradient-lighten;
      }
      @include tablet {
        font-size: 20px;
        padding: 18px 25px;
      }
      @include laptop {
        font-size: 18px;
        padding: 15px 20px;
      }
      @include desktop {
        font-size: 20px;
        padding: 18px 25px;
      }
      & a {
        @include link;
        color: white;
      }
    }
  }
   




  
  

  