.presentation {
    @include flex-column;
    background: $background-section;
    padding-bottom: 60px;
    @include tablet {
      padding-top: 30px;
    }
    &__title {
      font-size: 20px;
      text-align: center;
      margin: 25px 15px 0px 15px;
      @include tablet {
        font-size: 24px;
      }
      @include desktop {
        font-size: 28px;
      }
    }
    &__text {
      font-size: 16px;
      font-weight: 300;
      text-align: center;
      margin: 15px;
      @include tablet {
        font-size: 20px;
      }
      @include desktop {
        font-size: 24px;
      }
    }
    &__btn {
      @include btn;
      @include margin-hcenter;
      margin-top: 20px;
      padding: 15px;
      box-shadow: 5px 5px 5px #bfbfbf;
      &:hover {
        box-shadow: 5px 7px 7px #b3b2b2;
        @include my-gradient-lighten;
      }
      @include mobile-int {
        padding: 18px 25px;
      }
      @include tablet {
        font-size: 20px;
      }
      @include desktop {
        font-size: 24px;
        padding: 25px 35px;
      }
      & a {
        @include link;
        color: white;
      }
    }
  }