.working {
  @include flex-column;
    padding-top: 70px;
    align-items: center;
    position: relative;
    @include mobile-int {
      padding-top: 30px;
    }
    &__title {
      position: absolute;
      top: 20px;
      left: 25px;
      font-size: 18px;
      @include mobile-int {
        position: inherit;
        width: 70%;
        left: 0;
        top: 0;
        text-align: center;
      }
      @include tablet {
        @include border-bottom-title;
        font-size: 22px;
      }
      @include desktop {
        font-size: 26px;
      }
    }
    &__list {
      padding-left: 0;
      list-style: none;
      @include mobile-only {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
      }
      @include tablet {
        margin-left: 15px;
        margin-right: 15px;
      }
      @include laptop {
        width: 70%;
      }
    }
  }   
  .working-list__element {
    @include bradius20;
    @include border-BG-WorklistEl;
    padding: 20px;
    margin-bottom: 30px;
    font-size: 14px;
    position: relative;
    font-weight: 600;
    @include box-shadow;
    &--icon {
      padding-right: 25px;
      padding-left: 15px;
    }
    &--icon-grey {
      color: $icon-grey;
    }
    &--icon-primary {
      color: $color-primary;
    }
    @include mobile-only {
      margin: 20px;
    }
    @include tablet {
      font-size: 18px;
    }
    @include desktop {
      font-size: 22px;
      margin: 30px 50px;
    }
    cursor: pointer;
    &--color {
      background-color: $worlistEl-BG;
    }
    &:hover {
      background-color: $worlistEl-BG-hover;
    }
    &::before {
      content: counter(list-item);
      background-color: $color-primary;
      padding: 5px 10px;
      color: white;
      font-weight: 500;
      border-radius: 50%;
      margin-right: 20px;
      position: absolute;
      left: -15px;
      top: 15px;
    }
  }